<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Netzwerkplan</title>
    <style>
   body {
   text-align: center;
   margin-top: 50px;
   }
   .main-container {
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   width: 715px;
   background-color: khaki;
   }
   table {
   margin-left: auto;
   margin-right: auto;
   }
   .button-previous {
   width: 50px;
   margin: 5px;
   }
   .button-container {
   margin-top: 50px;
   text-align: right;
   }
     .button-container2 {
   margin-top: -8%;
   margin-left: 20px;
   text-align: left;
   position: absolute;
   }
   .button-action {
   margin: 5px;
   }
   .delete-button {
   }
    </style>
</head>
<body>
<h1>Willkommen bei ihrem Netzwerkplaner.</h1>
<div class="main-container">
        <table>
            <thead>
            <tr>
                <th> </th>
                <th>Vorgangsnr.</th>
                <th>Vorgangsbezeichnung</th>
                <th>Dauer</th>
                <th>Vorgänger</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="output : ${geschrieben}">
                <tr>
                    <td><div  th:if="${output.getVorgangsnummer().equals(geschrieben.size().toString())}"><form method="post" action="deleteOne">
                        <div>
                            <span><button type="submit">-</button></span>
                        </div>
                    </form></div> </td>
                    <td th:text="${output.getVorgangsnummer()}"></td>
                    <td th:text="${output.getInputVorgangsbezeichnung()}"></td>
                    <td th:text="${output.getInputDauer()}"></td>
                    <td>
                        <span  th:text="${output.getVorgaengerEins()}"></span>
                        <span  th:text="${output.getVorgaengerZwei()}"></span>
                        <span  th:text="${output.getVorgaengerDrei()}"></span>
                    </td>
                </tr>
            </th:block>
            </tbody>
            <div>
            <form method="post" action="changing" th:object="${knoten}">
            <tr>
                <td> </td>
                <td th:text="${vorgangsnummer}"></td>
                <td><input id="inputVorgangsbezeichnung" name="inputVorgangsbezeichnung"/></td>
                <td><input id="inputDauer" name="inputDauer"/></td>
                <td>

                    <select class="button-previous" id="vorgaengerEins" name="vorgaengerEins">
                        <option>-</option>
                        <th:block th:each="vorgaengerMenge : ${vorgaenger}">
                            <option th:text="${vorgaengerMenge.getVorgangsnummer()}"></option>
                        </th:block>
                    </select>

                    <select class="button-previous" id="vorgaengerZwei" name="vorgaengerZwei">
                        <option>-</option>
                        <th:block th:each="vorgaengerMenge : ${vorgaenger}">
                            <option th:text="${vorgaengerMenge.getVorgangsnummer()}"></option>
                        </th:block>
                    </select>
                    <select class="button-previous" id="vorgaengerDrei" name="vorgaengerDrei">
                        <option>-</option>
                        <th:block th:each="vorgaengerMenge : ${vorgaenger}">
                            <option th:text="${vorgaengerMenge.getVorgangsnummer()}"></option>
                        </th:block>
                    </select>

                </td>
            </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="button-container">
                        <span class="button-action"><button type="submit">weiteres Feld</button></span>
                    </div></td>

                </tr>
            </form>
            </div>
        </table>

    <div class="button-container">
<form method="post" action="result">
        <span class="button-action"><button type="submit">Plan erzeugen</button></span>
</form>
    </div>
    <div class="button-container2">
        <form method="post" action="deleteAll">
            <span class="button-action"><button type="submit">Reset</button></span>
        </form>
    </div>
</div>
</body>
</html>
